p{
	color: black;
	font-family: 'Roboto', sans-serif;
}

body{
	font-family: 'Roboto', sans-serif;
}

h1 {
	color: #959ca5;
	font-weight: normal;
}

header {
	z-index: 1000;
    background-color: white;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 20px;
}

.top-header {
    width: 100%;
    text-align: center;
}

header .links {
    padding: 16px;
    font-size: 15pt;
}

.top-links{
	padding-right: 30px;
}

a:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.homepage-me {
	height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

img .homepage-me{
	background-repeat: no-repeat;
  	z-index: -1;
  	background-size: cover;
}

#darken {
	filter: brightness(40%);
}

#intro {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-left: 16px;
	margin-right: 16px;
	z-index: 900;
	position: absolute;
	text-align: center;
	top: 35%;
}

#intro img {
    width: 250px;
    height: 250px;
}

#intro .intro-text {
	margin-left: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.highlight {
	color: #FFFFFF;
	font-weight: bold;
}

.career {
	height: 100vh;
	width: 100%;
	background-color: lightblue;
}