p{
	color: black; 
}

body{

}

.top-header {
    width: 100%;
    text-align: center;
}

header {
    background-color: white;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header .links {
    padding: 16px;
}

.top-links {
	padding-right: 30px;
}

.page-sections {
	background: url(../image/home_bg.jpg);
	background-size: cover;
	opacity: 0.5;
	height: 100%;
	width: 100%;
}


