p{
	color: black;
	font-family: 'Roboto', sans-serif;
}

body{
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: normal;
	width: 100%;
}

hr {
	width: 30vh;
	margin-top:0px;
}

header {
	z-index: 1000;
    background-color: white;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 20px;
}

.top-header {
    width: 100%;
    text-align: center;
}

header .links {
    padding: 16px;
    font-size: 15pt;
}

.top-links{
	padding-right: 30px;
}

a:hover {
    cursor: pointer;
    color: black;
    text-decoration: underline;
}

.homepage-me {
	height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

img .homepage-me{
	background-repeat: no-repeat;
  	z-index: -1;
  	background-size: cover;
}

#darken {
	filter: brightness(40%);
}

#intro {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-left: 16px;
	margin-right: 16px;
	z-index: 900;
	position: absolute;
	text-align: center;
	top: 35%;
}

#intro img {
    width: 250px;
    height: 250px;
}

#intro .intro-text {
	color: #959ca5;
	margin-left: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.highlight {
	color: #FFFFFF;
	font-weight: bold;
}

.title {
	font-size: 12pt;
	width: 100%;
}

#about {
	height: 80vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#about .career-items {
	max-width: 85vh;
}

#about .career-item {
	display: flex;
}

.career-item .item-details-left {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 20vh;
}

.career-item .item-details-right {
	text-align: left;
	width: 80vh;
}

.item-details-left .img-logo {
	max-width: 65%;
	max-height: 65%;
	padding-top: 10%;
}

.organization {
	font-size: 12pt;
	font-weight: 700;
}

.item-description {
	font-weight: normal;
}

.dates {
	font-style: italic;
}

.item-title {
	font-size: 12pt;
	font-weight: 700;
}