p{
	color:red; 
}

.verticalLine{
	left:50%;
	top:0%;
	position:absolute;
	border:2px solid black;
	height: 100%;
}

.circle{
	width:5%;
	height:15%;
	left:50%;
	top:50%;
	position:absolute;
	transform: translate(-50%, -50%);
}

.img-circle {
	width: 60%;
	height: 60%;
    border-radius: 50%;
    left:50%;
	top:45%;
	position:absolute;
	transform: translate(-50%, -50%);
}

.name{
	font-size: 20px;
	left:50%;
	top:5%;
	position:absolute;
	transform: translate(-50%, -50%);
}

.aboutme{
	left:50%;
	top:85%;
	position:absolute;
	transform: translate(-50%,-50%);
}

.ccontainer{
	width: 50vmin;
	height: 50vmin;
	left:50%;
	top:50%;
	position:absolute;
	transform: translate(-48%,-50%);
}

.lcontainer{
	width : 50%;
	height: 100%;
	position:absolute;
}

.lheader{
	font-size: 20px;
	left:50%;
	position:absolute;
	transform: translate(-50%,-50%);
}

.rcontainer{
	width : 50%;
	height: 100%;
	left:50%;
	position:absolute;
}

.rheader{
	font-size: 20px;
	left:50%;
	position:absolute;
	transform: translate(-50%,-50%);
}